@model List<ResultTestimonialDto>
@*
    Home Testimonial Component
*@

<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">
                    Referanslar
                </div>
                <h1 class="mb-4">Müşterilerimiz Ne Diyor?</h1>
                <p class="mb-4">
                    Yapay zeka odaklı çözümlerimizle farklı sektörlerde güçlü ve sürdürülebilir projeler geliştiriyoruz. Kullanıcı deneyimini
                    merkeze alan yaklaşımımızla güven kazanmaya devam ediyoruz.
                </p>
                <a class="btn btn-primary rounded-pill px-4" href="">
                    Daha Fazlasını Gör
                </a>
            </div>

            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel border-start border-primary">

                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">@Model[0].Comment</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="@Model[0].ImageUrl" style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h5 class="mb-1">@Model[0].Name</h5>
                                <span>@Model[0].Title</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">@Model[1].Comment</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="@Model[1].ImageUrl" style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h5 class="mb-1">@Model[1].Name</h5>
                                <span>@Model[1].Title</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">@Model[2].Comment</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="@Model[2].ImageUrl" style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h5 class="mb-1">@Model[2].Name</h5>
                                <span>@Model[2].Title</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
