@model List<ResultTestimonialDto>
@*
    Home Team Component
*@
<div class="container-fluid bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">
                    Ekibimiz
                </div>
                <h1 class="mb-4">Deneyimli Ekip Üyelerimizle Tanışın</h1>
                <p class="mb-4">
                    Alanında uzman, deneyimli ve yenilikçi bakış açısına sahip ekibimizle
                    yapay zeka odaklı projeler geliştiriyoruz. Güçlü teknik altyapı ve
                    modern yaklaşımlarla sürdürülebilir çözümler sunuyoruz.
                </p>
                <a class="btn btn-primary rounded-pill px-4" href="">
                    Daha Fazlasını Gör
                </a>
            </div>

            <div class="col-lg-7">
                <div class="row g-4">

                    <div class="col-md-6">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                <div class="team-item bg-white text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="@Model[0].ImageUrl" alt="">
                                    <h5 class="mb-0">@Model[0].Name</h5>
                                    <small>@Model[0].Title</small>
                                    @await Component.InvokeAsync("_UITeamSocail")
                                </div>
                            </div>

                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="team-item bg-white text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="@Model[2].ImageUrl" alt="">
                                    <h5 class="mb-0">@Model[2].Name</h5>
                                    <small>@Model[2].Title</small>
                                    @await Component.InvokeAsync("_UITeamSocail")
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 pt-md-4">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.2s">
                                <div class="team-item bg-white text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="@Model[1].ImageUrl" alt="">
                                    <h5 class="mb-0">@Model[1].Name</h5>
                                    <small>@Model[1].Title</small>
                                    @await Component.InvokeAsync("_UITeamSocail")
                                </div>
                            </div>

                            <div class="col-12 wow fadeIn" data-wow-delay="0.4s">
                                <div class="team-item bg-white text-center rounded p-4 pt-0">
                                    <img class="img-fluid rounded-circle p-4" src="@Model[3].ImageUrl" alt="">
                                    <h5 class="mb-0">@Model[3].Name</h5>
                                    <small>@Model[3].Title</small>
                                    @await Component.InvokeAsync("_UITeamSocail")
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
